# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/

# Environments
.env
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Training / outputs
work_dir/
show_dir/

# Data
data/

# Checkpoints / weights
*.pth
*.pt
*.ckpt

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db